/.mixin.out/
/asm/
/astralsorcery/
/coremods/
/screenshots/
/saves/
/mods/
/XaeroWorldMap/
/local/
/logs/
/texturepacks/
/server-resource-packs/
/hammercore/
/crash-reports/
/backups/
/journeymap/

*.log
*.json

/.ReAuth.cfg
/icon.png